div {
    display: flex;
    width: 40%;
    padding: 10px;
    font-size: xx-large;
    align-items: center;
    align-content: space-between;
    column-gap: 20px;
    background-color: purple;
    color: yellow;
}